.container {
  display: flex;
  justify-content: center;
  gap: 20px;

  .player-score,
  .virtual-player-score {
    width: 25%;
    background-color: #9ec8b9;
    border-radius: 5px;
    padding: 10px;
  }
}

.rounded-span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #092635;
  color: white;
  text-align: center;
  font-size: 16px;
}

.total {
    padding: 5px;
    color: white;
    background-color: red;
    margin-left: 5px;
    border-radius: 5px;
}

