.runs-container {
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 1rem;
    height: 30vh;
    .runs-item {
        background-color: yellow;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
